<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Bandas</h1>
    <ul>
        <% for(let i=0; i<listaDeBandas.length; i++){ %>
            <li>Nombre: <a class = "title" href="/bandas/id/<%=  listaDeBandas[i].id %>"> <%= listaDeBandas[i].nombre %></a></li> 
            <li>Cover: <div><img id = "bandImage" src="/<%= listaDeBandas[i].cover %>" alt=""></div></li>
        <% } %> 
    </ul>

</body>
</html>