<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul> 
 <% for(let i = 0; i<bandasPorGenero.length; i++){ %>
    <li><a class = "detalle" href="/bandas/id/<%= bandasPorGenero[i].id %>"> <%= bandasPorGenero[i].nombre %> </a></li>

 <%  } %>

            

 
   </ul>
</body>
</html>